.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    gap: 10px;
    padding: 92px 50px 96px 50px;
    }

.header-menu {
    display: flex;
    gap: 32px;
    font-size: 18.1px;
    }

.links-list {
    display:flex;
    flex-direction: row;
    gap: 32.4px;
    }
    
.header-menu-link {
    text-underline-offset: 5px;
    }

.header-link-active {
    text-decoration: none;
    }

.links-list-item {
    list-style: circle;
    }

.links-list-item_no-bullit {
    list-style-type: none;
    }

.header-logo {
    display: block;
    justify-content: center;
    width: 148px;
    height: 105px;
    margin: 0 auto;
    }  

.header-logo-image {
    width: 148px;
    height: 105px;
    border-width: 6px;
    }
   
.adress {
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px;
    border-width: 1px;
    font-size: 18px;
    line-height: 24.3px;
    }

.contacts {
   text-underline-offset: 5px;
   }

.cover {
    display: inline-block;
    position: relative;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  50%;
    margin-bottom: 180px;
    width: 1100px;
    height: 757px;
    padding: 165px 50px 207px 50px;
    z-index: 0;
    }
.cover-title {
    width: 1000px;
    height: 385px;
    font-weight: 700;
    font-size: 100px;
    color: white;
    letter-spacing: 30px;
    text-transform: uppercase;
    }

.overlay {
    display: flex;
    position: absolute;
    inset: 0;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
    z-index: -1;
    }

.aligned-text_left {
    display: flex;
    width: 286px;
    height: 115px;
    }

.aligned-text_center {
    display: flex;
    width: 339px;
    height: 115px;
    margin: 0 auto;
    margin-top: 20px;
    }

.aligned-text_right {
    display: flex;
    width: 387px;
    height: 115px;
    margin-top: 20px;
    margin-left: 615px;
    }

.cover-description {
   display: flex;
   margin: 0 auto;
   margin-top: 106px;
   white-space: nowrap;
   }

.cover__description-text {
    top: 668px;
    left: 50px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 19px;
    align-self: center;
    color: white;
    }

.cover__bet-button {
    width: 256px;
    height: 51px;
    border-width: 1px;
    border-top-style: dashed;
    border-color: white;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    margin-left:  105px;
    }

.lots {
     display:inline-block;
     position: relative;
     width: 1052px;
     height: 723px;
     gap: 24px;
     margin-left: 24px;
     color: rgb(0, 0, 0);
     z-index: 0;
     }

.lots-heading {
    display: flex;
    margin-left: 40px;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    }

.card-home {
    display:
    flex;
    flex-wrap:
    nowrap;margin-top:
    25px;gap: 24px;
    }

.card {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: relative;
     width: 334px;
    height:596px;
    padding: 48px 40px;
    z-index: 0;
    }


.card-type-film {
    background-image: url("../images/card-lot-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  50%;
    }

.card-type-book {
     background-image: url("../images/card-lot-02.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position:  50%;
     }

.card-type-picture {
    background-image: url("../images/card-lot-03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  50%;
    }

 

.card-title {
    text-decoration: underline;
    text-decoration-style: solid;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    }

.card-text {
    font-weight: 200;
    font-size: 20px;
    color: white;
    }

.more {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-left: 40px;
   }
   
.lots__look-more-link {
   font-size: 20px;
   text-underline-offset: 5px;
   }

.about {
    display: flex;
    width: 1052px;
    height: 595px;
    margin-top: 120px;
    margin-bottom: 180px;
    margin-left: 24px;
    }    
     
.logo-column {
    display: flex;
    min-width: 240px;
    height: 240px;
    margin-top: 35px;
    margin-left: 47px;
    }

.logo-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    }

.about-logo-image {
    width: 148px;
    height: 114px;
    }

.about-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 693px;
    min-height: 449px;
    margin-top: 133px;
    margin-left: 72px;
    }

.about-title {
  font-size: 40px;
  text-transform: uppercase;
  }

.about-text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 25px;
    }

.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    gap: 178px;
    width: 1100px;
    Height: 180px;
    margin-bottom: 180px;
    }

.footer-adress {
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px;
    border-width: 1px;
    font-size: 18px;
    line-height: 24.3px;
    text-underline-offset: 5px;
    }

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    min-width: 164px;
    }

.footer-menu-list {
    flex-direction: column;
    text-align: center;
    }

.links-list-footer {
    display:flex;
    flex-direction: row;
    }

.footer-menu-link-active {
    text-decoration: none;
    }

.footer-menu-link {
    text-underline-offset: 5px;
    }

.footer-socials {
   display: flex;
   }

.footer-social-list {
    display: flex;
    flex-direction: row;
    width: 240px;
    height: 48px;
    gap: 48px;
    }

.footer-social-list-item {
    list-style-type: none;
    }
